

<!-- Footer para Formularios -->
<footer th:fragment="footer-fragment-formularios" class="footer" style="margin-top: 40px;">
    <div class="contact">
        <div class="item__contact">
            <i class='bx bx-copyright contact__icon'></i>
            <p class="contact__title">Copyright © 2022 | Desarrollado por Jonathan Bolatti | Chanllenge</p>
            <div class="logo-container">
                <img class="logo-footer" src="/assets/logo.alkemy.svg" alt="">
            </div>
        </div>
    </div>

</footer>